body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  background: url(/images/dennys-hess-Gt_4iMB7hY0-unsplash.jpg);
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 100%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: introload 2s forwards;
          animation: introload 2s forwards;
}

.logo {
  color: #eee;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: 2;
  text-transform: uppercase;
  background: #eee;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: #3a86ff;
  padding: .75em 2em;
  display: block;
}

nav ul a:hover {
  background: #e7e7e7;
  -webkit-transition: background .15s;
  transition: background .15s;
}

nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg {
  width: 3em;
  margin-top: .1em;
  cursor: pointer;
}

.hero {
  color: #00afb9;
  height: 90vh;
}

.hero .down-arrow {
  stroke: #eee;
  position: absolute;
  bottom: 2em;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}

.hero .down-arrow path {
  fill: #eee;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 45em;
}

.more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
}

.more-info .desc {
  line-height: 1.5rem;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: 'Poppins', sans-serif;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: #eee;
    padding: .5em 1.5em;
    font-size: 1.2rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .hero-image {
    left: unset;
    right: 0;
    width: 50%;
    height: 48em;
  }
  .logo {
    color: #000;
  }
  .logo span {
    color: #00afb9;
  }
  section.hero {
    height: auto;
    width: 40%;
    margin-bottom: 8em;
    -webkit-animation: moveDown 1s ease-in-out forwards;
            animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
  }
  section.hero .down-arrow {
    stroke: #000;
    position: unset;
  }
  section.hero .down-arrow path {
    fill: #000;
  }
  .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 40em;
  }
  .feature .content {
    width: 25em;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .feature {
    gap: 0;
  }
}

@-webkit-keyframes introload {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introload {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */